.header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.header i
{
    font-size: 20px;
}
.header .text-box
{
    text-align: center;
}
.header .text-box span
{
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 50%;
}