body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgba(93, 136, 228, 0.397);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
